body
{
}
.list-group-item{
    border:0;
    background-color:transparent;

}
    .list-group-item:hover {
        background-color: lightgray;
        cursor: pointer;
    }
#wannaShadow:hover {
    background-color: lightgray;
    cursor: pointer;
}
.list-group-item .object {
    font-size: 1.7rem; 
}
.navbar.container {
    display: grid;
}
.navbar > .container {
    display: grid;
    justify-content: initial;
}

.second {
    margin-top: 70px; 
}
body.light-mode {
    background-color: #f8f9fa;
    color: #333;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}
